* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #050038;
}
header {
  display: flex;
  border: 1px solid #e5e7eb;
  justify-content: center;
  nav {
    display: flex;
    align-items: center;
    width: 1366px;
    height: 90px;
    ul {
      display: flex;
      list-style: none;
      li {
        font-weight: 400;
        margin-left: 34px;
        line-height: 24px;
        &:first-child {
          margin-left: 0;
        }
        a {
          text-decoration: none;
          color: #000000;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
main {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 1366px;
  .mainContent {
    display: flex;
    flex-direction: column;
    .contentSection {
      display: flex;
      flex-direction: column;
      width: 440px;
      h1 {
        font-size: 48px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 1px;
        width: 285px;
        margin: 60px 0 0;
      }
      .sectionP {
        font-size: 18px;
        line-height: 24px;
        width: 424px;
        margin: 17px 0 0;
      }
      form {
        display: flex;
        flex-direction: column;
        margin: 55px 0 0;
        width: 440px;
        input {
          font-size: 18px;
          width: 440px;
          height: 48px;
          outline: none;
          padding: 0 20px;
          border: 1px solid #9b99af;
          border-radius: 32px;
          &:hover {
            border: 2px solid #4262ff;
          }
        }
        button {
          margin: 10px 0 0 0;
          width: 440px;
          height: 48px;
          outline: none;
          border: none;
          color: #fff;
          font-size: 18px;
          background-color: #4262ff;
          border-radius: 32px;
        }
      }
      .sectionA {
        font-size: 14px;
        margin: 8px 0 0;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .sectionContainer {
        display: flex;
        justify-content: space-between;
        width: 440px;
        margin: 60px 0 0;
        .containerUsers {
          font-size: 18px;
          align-self: center;
        }
        .containerPartners {
          display: flex;
          width: 222px;
          justify-content: space-between;
        }
      }
    }
  }
  .mainImg {
    object-fit: contain;
  }
}
